BasedOnStyle: LLVM
IndentWidth: 4
IndentCaseLabels: true
ContinuationIndentWidth: 2
---
Language: Cpp
DerivePointerAlignment: true
PointerAlignment: Left
ColumnLimit: 160
AccessModifierOffset: 0
# SortIncludes: false